body {
	font-family: georgia;
}

/*
============== NAV ==================
*/

.nav-header {
	position: fixed; 
	top: 0;
	right: 0;
	width: 96.5%;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #ccc; 
	z-index: 2; 
}

.button {
	height: 30px;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	position: relative;
	left: -15px;
	top: 10px;
	border-radius: 2px;
}

.bold {
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
}

.nav {
	position: relative;
	top: 15px;
	left: 10px;	
	float: left;	
}

.nav li {
	margin-right: 20px;
	display: inline-block;
}

.nyt-logo-heading {
	position: relative;
	left: 250px;
	top: 12px;	
}

.blue {
	background-color: #6288A5;
	border: 1px solid #4d7b9f;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.blue:hover {
	background-color: #4d7b9f;
}

.settings-btn {
	border: 0;
	position: relative;
	top: 18px;
	left: -10px;
}

.right {
	float: right;
	display: inline-block;
}

/*
============== CONTAINER ==================
*/

.container {
	width: 85%;
	float: right;
	border-left: 1px solid #ccc;
	box-shadow: 0 5px 10px #ccc;
	padding: 100px 80px 0 80px;
}


.header-container {
	width: 90%;
	margin: 0 auto;
}

.article-container {
	position: relative;
	left: 150px;
	width: 550px;
}

/*
============== HORIZONTAL LINE ==================
*/

.line {
	height: 1px;
	color: #666;
	margin: 10px 0;
}

.end-line {
	width: 40px;
	color: #000;
	float: left;
}

.double-line {
	width: 100%;
	border-left-style: none; 
	border-bottom: 1px solid #666; 
	border-top: 2px solid #666; 
	height: 2px;
	display: block;
}

/*
============== HEADING ==================
*/

.gray {
	color: #f6f6f6;
}

.title h3 {
	text-transform: uppercase;
	font-weight: bold; 
	font-size: 13px;
	font-family: sans-serif;
}

.title h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	padding-top: 20px;
	padding-bottom: 5px;
}

h6 {
	display: inline-block;
	padding-right: 8px;
	font-size: 11px;
}

.author {
	font-weight: bold;
}

/*
============== FIGURES ==================
*/

figure {
	padding: 40px 0;
}

.header-img {
	width: 100%;
}

.fig-caption {
	color: #666;
	font-size: 13px;
	margin-top: 5px;
	line-height: 18px;
}

.credit {
	font-size: 11px;
	display: block; 
}

.header-caption {
	width: 700px;
}


.img-resize {
	width: 500px;
}

/*
============== ARTICLE ==================
*/

.article {
	font-size: 16px; 
	line-height: 24px;
	
}

h2 {
	margin-bottom: 0;
	font-weight: bold; 
}

/*
============== ARTICLE DESCRIPTION IMG ==================
*/

.article-img {
	position: relative; 
	width: 930px;
	left: 50px;
}

.article-img img {
	width: 900px;
	padding: 20px 0;
}

.article-img h1 {
	font-size: 18px; 
	font-weight: bold; 
	margin: 5px 0;
}

.article-img-desc {
	color: #666;
	font-size: 14px; 
	line-height: 18px;
}

.img-captions {
	position: absolute;
	z-index: 1;
	top: 240px;
	width: 900px;
}

.captions {
	float: left;
	width: 200px;
	font-family: sans-serif;
	font-size: 12px;
	margin-right: 32px;
	margin-bottom: 150px;
	line-height: 16px;
}

.captions:nth-child(4n+0) {
	margin-right: 0;
}

.img-captions span {
	font-weight: bold; 
}

.img-credit {
	margin-top: 10px; 
	font-family: sans-serif;
	color: #666;
	font-size: 12px;
}

/*
============== IFRAME ==================
*/

.vid {
	position: relative;
	left: -10px;
	width: 640px;
}

.vid .credit {
	display: inline;
}

/*
============== END CREDIT ==================
*/

.end-credit {
	display: block; 
	margin-top: 30px;
	font-family: arial, sans-serif; 
	font-size: 11px;
	line-height: 13px;
	color: #ccc;
}

.end-credit a {
	text-decoration: none; 
	color: #ccc;
}

.end-credit a:hover {
	text-decoration: underline; 
}

/*
============== FOOTER ==================
*/

footer {
	width: 1000px;
	margin: 0 auto;
	margin-top: 120px;
	border-top: 1px double #000;
	outline-top: 2px solid #699;
	font-family: arial, sans-serif;
}

.nyt-logo {
	clear: both;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.col {
	float: left;
	margin: 20px 30px 20px 0;
}

footer h3 {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
}

.col li {
	font-size: 12px;
	margin-bottom: 10px;

}

.subscribe-footer {
	float: left;
	border-left: 1px solid #ccc;
	margin-top: 20px;
	margin-left: 30px;
	padding-left: 20px;
}

.subscribe-footer li {
	margin-bottom: 10px;
}

.footer-bold {
	font-weight: bold;
	font-size: 16px;
}

.small {
	font-size: 11px;
	margin: 15px 0;
}

.small li {
	margin-bottom: 5px;
}

/*
============== ICON ==================
*/

.sprite {
	background-image: url('img/sprite-no-repeat.png');
	background-color: transparent;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	height: 16px;
	width: 16px; 
}


#times {
	background-position: -327px -137px;
}

#delivery {
	background-position: -410px -20px;
}

#subscription {
	background-position: -258px -138px;
}

#opinion {
	background-position: -400px -64px;
	width: 15px;
}

#crossword {
	background-position: -362px 0px;
}

#header-section {
	background-position: -478px -108px; 
	width: 14px;
	height: 10px;
}

#settings {
	background-position: -494px -106px;
	width: 14px;
	height: 14px;
}